.trail {
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: rgb(30, 10, 202);
}
.heading {
    font-family:monospace;
    font-size: 50px;
    color:white;
    padding: 60px;
}
.header {
    background-image: linear-gradient(rgb(15,111,198), rgba(15, 110, 198, 0));
    text-align: center;
}

.mainBackground {
    background-color: rgb(32, 32, 32);
    position:relative;
    top: 0;
}

/* Sidebar menu */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: linear-gradient(rgb(16,207,155), rgba(15, 110, 198, 0));
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: monospace;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #00FFFF;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 30px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }

.openbtn:hover {
    background-color: #444;
}

body {
    background-color: rgb(32, 32, 32);
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

#main {
    transition: margin-left .5s;
    padding: 16px;
  }
  